@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import "tailwindcss";

body {
   font-family: "Noto Serif Bengali", serif;
  background-color: #e5e5e5; /* hex code used directly */
}